 <div class="content">
  <div id="title">Let's Surfing!!</div>
  <div id="gameField">
  </div>

  <h2> 操作： 加速 ↑ / 減速 ↓ / 左右回転 ←,→ </h2>

  <h3 id="restart">
    <a><%= link_to "最初から", "/" %></a>
  </h3>
</div>